{% extends "layout.html" %}
{% block content %}
    {% for room in rooms %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ room.campusname }}</a>
              <small class="text-muted">{{ room.primaryuse }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ room.roomname }}</a></h2>
          </div>
        </article>
    {% endfor %}
{% endblock content %}